<style>
/* Particleground DEMO_______________________________________________________________________________________________________________________________________________________________________*/

/* Устанавливает box-sizing на border-box для всех элементов в браузерах Webkit (Safari, Chrome) и Mozilla (Firefox) */
* {
  -webkit-box-sizing: border-box; /* Устанавливает box-sizing на border-box для браузеров Webkit */
  -moz-box-sizing: border-box; /* Устанавливает box-sizing на border-box для браузеров Mozilla */
  box-sizing: border-box; /* Устанавливает box-sizing на border-box для всех остальных браузеров */
}

/* Устанавливает ширину и высоту html и body на 100% */
html, body {
  width: 100%; /* Устанавливает ширину на 100% */
  height: 100%; /* Устанавливает высоту на 100% */
  overflow: hidden; /* Скрывает переполнение */
}

/* Устанавливает фоновый цвет на черный, шрифт на Montserrat, цвет текста на белый, высоту строки на 1.3, 
сглаживание шрифта на антиалиасинг и позиционирует элемент #intro абсолютно с левым отступом 0 и верхним отступом 50%, 
добавляет отступы слева и справа по 10px и выравнивает текст по центру */
body {
  background: #000010; /* Устанавливает фоновый цвет на черный */
  font-family: 'Montserrat', sans-serif; /* Устанавливает шрифт на Montserrat */
  color: #fff; /* Устанавливает цвет текста на белый */
  line-height: 1.3; /* Устанавливает высоту строки на 1.3 */
  -webkit-font-smoothing: antialiased; /* Устанавливает сглаживание шрифта на антиалиасинг */
}

#particles {
  width: 100%; /* Устанавливает ширину на 100% для элемента #particles */
  height: 100%; /* Устанавливает высоту на 100% для элемента #particles */
  overflow: hidden; /* Скрывает переполнение для элемента #particles */
}







